/* HEADER */

.nav-header {
    font-size: 1em;
}
    .nav-header:hover {
        color: #F2839E;
    }

/* NAME TITLE */

.name-title {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo-title {
    margin-right: 0.5em;
}
/* TITLES H2 */

.title-page {
    margin: 0 !important;
}

.title-projects {
    margin-top: 7em;
}

/* ICONS LANGUAGES */

ul.icons-language li {
    font-size: 1.5em !important;
    padding-top: 1em !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* COLORS LANGAGES*/

.color-html {
    color: orange;
}
    .color-html:hover {
        color: orange !important;
    }

.color-css {
    color: #30A0D1;
}
    .color-css:hover {
        color: #30A0D1 !important;
    }

.color-sass {
    color: #C26192;
}
    .color-sass:hover {
        color: #C26192 !important;
    }

.color-react {
    color: #01D6F7;
}
    .color-react:hover {
        color: #01D6F7 !important;
    }

.color-js {
    color: #E9D41D;
}
    .color-js:hover {
        color: #E9D41D !important;
    }

.color-nodejs {
    color: #3F883B;
}
    .color-nodejs:hover {
        color: #3F883B !important;
    }

.color-git {
    color: #E94D31;
}
    .color-git:hover {
        color: #E94D31 !important;
    }

.color-github {
    color: black;
}   
    .color-github:hover {
        color: black !important;
    }
    
.color-mongodb {
    color: #126149;
}
    .color-mongodb:hover {
        color: #126149 !important;
    }
    
/* COLORS TITLES PAGES PROJETS */

.color-booki {
    color: #0065FC;
}

.color-ohmyfood {
    color: #9356DC;
}

.color-lapanthere {
    color: #F3976C;
}

.color-kanap {
    color: #3597DB;
}

.color-piiquante {
    color: #B31817;
}

.color-kasa {
    color: #FF5656;
}

/* BUTTON */

.button-projet {
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.buttonsLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4em;
}

/* LOGO LANGAGE */

.logo-language {
    height: 0.8em;
}

.icons li {
    font-size: 1em;
}

.icons-language {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* PAGE INDEX */

.bloc-index {
    margin-top: 5em;
}



.color-profil {
    color: #c96289;
}

.icons-profil {
    font-size: 1.5em !important;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3em;
    padding: 0 !important;
    margin-top: 0.6em;
}

.icons-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1em;
    padding: 0 !important;
    width: 6em;
}

.icons-bloc i {
    font-size: 3em;
    padding-bottom: none !important;
    height: 1.4em;
}

.icons-bloc p {
    font-size: 0.6em;
    color: rgb(42, 41, 41);
    font-weight: 500;
}

.icons-bloc img {
    padding-bottom: none !important;
    height: 3em;
    margin-top: 1.2em;
}