/* TITLES H2 */

.title-page {
    margin: 0 !important;
}

/* ICONS LANGUAGES */

ul.icons-language li {
    font-size: 1.5em !important;
    padding-top: 1em !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* COLORS LANGAGES*/

.color-html {
    color: orange;
}
    .color-html:hover {
        color: orange !important;
    }

.color-css {
    color: #30A0D1;
}
    .color-css:hover {
        color: #30A0D1 !important;
    }

.color-sass {
    color: #C26192;
}
    .color-sass:hover {
        color: #C26192 !important;
    }
    
.color-js {
    color: #E9D41D;
}

    .color-js:hover {
        color: #E9D41D !important;
    }
/* COLORS TITLES PAGES PROJETS */

.color-booki {
    color: #0065FC;
}

.color-ohmyfood {
    color: #9356DC;
}

.color-lapanthere {
    color: #F3976C;
}

.color-kanap {
    color: #3597DB;
}

/* BUTTON */

.button-projet {
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}


/* LOGO IMAGES LANGAGE */

.logo-langage {
    height: 2px;
    width: auto;
}